#about {
  //background-color: blue;
}

nav {
  background-color: black !important;
}

//.parallax-container {
  //height: 200px;
//}

#introDiv{
  margin: 0 auto;
  text-align: center;
}

#pic {
  text-align: center;
  padding-top: 65px;
}

#picRadius{
  border-radius: 50px;
}